

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
	"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title th:text="#{title.riepilogo}"></title>
</head>
<body>
	<div>
		<form th:action="@{/API/prenotaz}" method="GET">
			<tr>
				<td th:text="#{lang.cambia}"></td>
				<td><select name="lang">
						<option value="it" th:text="#{lang.it}"></option>
						<option value="en" th:text="#{lang.en}"></option>
				</select> <input type="submit" th:value="#{lang.traduci}" /></td>
				<td></td>
			</tr>
		</form>
	</div>
	<div align="center">
		
		
			<form th:action="@{/API/prenotazCambio}"
         th:object="${prenotazioneEntity}" method="POST">
         			<table border="0">
				<tr>
					<td colspan="2" align="center" ><h2 th:text="#{label.effettuata}"></h2></td>
				</tr>
				<tr>
					<td hidden><input type="number" th:field="*{id}" /></td>
				</tr>
				<tr>
					<td th:text="#{label.nome}"></td>
					<td><input type="text" th:field="*{name}"/></td>
				</tr>
				<tr>
					<td th:text="#{label.cognome}"></td>
					<td><input type="text" th:field="*{surname}" /></td>
				</tr>
				<tr>
					<td th:text="#{label.mail}"></td>
					<td><input type="text" th:field="*{email}"/></td>
				</tr>
				<tr>
					<td th:text="#{label.eta}"></td>
					<td><input type="number" th:field="*{age}" /></td>
				</tr>
				<tr>
					<td th:text="#{label.citta}"></td>
				<!-- 	<td><input type="text" th:field="*{city}" readonly /></td>  -->
					<td><select th:field="*{city}">
							<option th:each="cit : ${cities}" th:value="${cit.id}"
								th:text="${cit.citta}" th:selected=*{city}></option>
					</select> </td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" th:value="#{button.modifica}" /></td>
				</tr>
			</table>
			</form>
			
					<form th:action="@{/API/prenotaz}" method="GET">
					<input type="submit" th:value="#{button.altraPrenotazione}" />

      </form>
	</div>
</body>
</html>